 body {
	background-color: #F5F5F5;
 }

.App {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 22px;
	font-weight: 500;
	background-color: #F5F5F5;
	border-bottom: solid 1px lightgray;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.nav{
	padding: 25px;
	font-size: 22px;
	width: 100%;
	border-bottom: solid gray 1px;
	display: flex;
	justify-content: space-around;
	background-color: #74ad5a;
	color: white;
}
.nav .homeAbout{
	display: flex;
}

.nav .homeAbout div{
	margin-left: 20px;
}

.about, .home {
	text-decoration: none;
	color: white;
}

.about:hover, .home:hover {
	text-decoration: none;
	color: black;
}

.homeMessage{
	background-color: #74ad5a;
	color: white;
	border: solid black 1px;
	padding: 5 px;
	display: flex;
	justify-content: center;
	margin: 30px;
	margin-top: 80px;
}

.homeContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
}

.optionsContainer {
	background-color: #74ad5a;
	color: white;
	border: solid black 1px;
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

ul {
	list-style: none;
	margin: 5px;
}

li {
	margin: 10px;
}

.aboutContainer{
	display: flex;
	height: 500px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


.installsContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px;
}

.installsContainer div {
	margin: 10px;
}

.installMessage {
	font-size: 24px;
	font-weight: 600;
	padding: 5px;
}

.installInstruction {
	padding: 10px;
}

.installsContainer p {
	margin-top: 20px;
}

.tutorialContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
}

.buttonsContainer {
	display: flex;
	justify-content: center;
}

.mid{
	font-size: 18px;
	width: 100%;
	margin-top: 20px;
	display: flex;
}

.midLeft {
	color: black;
	font-size: 22px;
	display:flex;
	flex-direction: column;
	justify-content: center;
	width: 45%;
	padding: 10px;
}

.midRight {
	background-color: black;
	color: lightgray;
	border: solid 1px black;
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 55%;
	padding: 10px;
}

.stepContainer {
	display:flex;
	flex-direction: column;
	width: 90%;
}


button {
	box-shadow:inset 0px 1px 0px 0px #9acc85;
	outline: none;
	/* background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%); */
	background-color:#74ad5a;
	border:1px solid #3b6e22;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:24px;
	font-weight:bold;
	border-radius: 8px;
	padding:13px 32px;
	text-decoration:none;
	margin: 40px;
}
button:hover {
	/* background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%); */
	background-color:white;
	color:#74ad5a;
}
button:active {
	position:relative;
	top:1px;
}


.start {
	display:flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	margin: 20px;
}

.startButton{
	font-size: 36px;
	width: 300px;
	height: 80px;
}

.tbContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.finalStep {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.finalStep div, .tbContainer div {
	margin-top: 70px;
}