 body {
	background-color: #F5F5F5;
 }

.main-container {
	display: flex;
	justify-content: center;
}
.component-container {
	
}
.code-container {
  width: 65%;
  background: #000;
}

ul {
}
li {
  list-style: none;
}